<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hr">
	<select id="list" resultType="test.hr.HrVO">
		select e.employee_id, first_name || ' ' ||last_name as emp_name,
case when mod(e.employee_id, 2) = 1 then email||'@naver.com'
     when mod(e.employee_id, 2) = 0 then email||'@gmail.com'
     end as email,
replace(e.phone_number, '.', '-' ),
replace(concat('20', e.hire_date), '/', '-') as hire_date, 
nvl2(e.commission_pct, CONCAT(CONCAT(TO_CHAR(e.salary * 1289, 'FM999,999,999'),'원'), '(' || TO_CHAR((e.salary*1289) * e.commission_pct, 'FM999,999,999') || ')') , CONCAT(TO_CHAR(e.salary * 1289, 'FM999,999,999'),'원')) as salary,
d.department_name,
j.job_title
from employees e, departments d, jobs j
where e.department_id = d.department_id
and e.job_id = j.job_id
	</select>
	
</mapper>